* {
    font-family: Verdana, Tahoma, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}  

h1 {
    text-align: center;
    font-size: 24pt;
    font-weight: bold;
    font-family: Tahoma, Verdana, sans-serif;
}

body {
    background: url('./img/background.png');
    text-align: center;
}

.banner-background {
    background: url('./img/bannerbackground.png');
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner {
    height: 50px;
}



.content {
    width: 800px;
    margin: 20px auto;
    border: 4px solid gray;
    display: flex;
    flex-direction: column;

}

.above p {
    margin: 0;
    padding: 0;
}

.left {
    width: 550px;    
}

/* Rating Section */

.rating {
    display: flex;
    align-items: center;
    background: url('./img/rottenbackground.png');
}

.rating-box {
    text-align: center;
}

.rating-percentage {
    font-size: 48pt;
    font-weight: bold;
    color: red;
}

.rating-text {
    font-size: 8pt;
    color: white;
    align-self: flex-end;
    transform: translateY(-10px)
}

/* Review Section */

.review-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    gap: 2%;
}

.review {
    width: 47%;
    margin-bottom: 35px;
}

.review-box {
    background-color: #E1D697;
    border: 2px solid gray;
    padding: 8px;
    margin-bottom: 10px;
}
.review-image {
    float: left;
}

.quote {
    font-weight: bold;
    font-size: 8pt;
}

.critic-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: start;
    gap: 5px;
}

.critics {
    font-style: italic;
    font-size:12px;
}

